.bg-ludo
    background-color: $bgLight

.title--title
    font-size: 28px

.title--subtitle
    font-size: 16px
    margin: 0

@media screen and (max-height: 800px)
    .title--title
        font-size: 22px
    .title--subtitle
        font-size: 12px